<!doctype html>
<html>
<head>

  <title>Contact List</title>
  
  <link rel="stylesheet" href="css/bower_components/bootstrap/dist/css/bootstrap.css">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>


</head>
<!-- ******************** Begin Body ******************** -->
<body ng-app="myApp">


<!-- ******************** Header ******************** -->
  <div class="header">
    <div class="container">
      <h1>Contact List</h1>
    </div>
  </div>

<!-- ******************** Input Form ******************** -->

  <div class="main" ng-controller="MainController">
    <div class="container">


      <div class="row">
        <div class="form-group col-md-4">
          <label for="usr">Name:</label>
          <input type="text" ng-model="newCon.name" class="form-control" id="usr" /><br />

          <label for="usr">Phone:</label> <input type="text" ng-model="newCon.phone" class="form-control" id="usr" /><br />
          <label for="usr">Email:</label> <input type="text" ng-model="newCon.email" class="form-control" id="usr" /><br />
          <label for="usr">Picture:</label> <input type="text" ng-model="newCon.picture" class="form-control" id="usr" /><br />
          <button class="btn btn-primary" ng-click="addContact(newCon.name, newCon.phone, newCon.email, newCon.picture)">Add</button>
        </div>
      </div>

<!-- **************** Display Contacts ***************** -->

    
      <div ng-repeat="contact in contacts"> 
      
        <div class="thumbnail col-md-3"> 
          <img ng-src="{{ contact.picture }}"> 
          <p class="name">{{ contact.name }}</p> 
          <p class="phone">{{ contact.phone }}</p> 
          <p class="email">{{ contact.email }}</p> 
         
         <button class="btn btn-danger" ng-click="deleteContact($index)">Delete</button>
         <button class="btn btn-default" ng-click="contact.editing = true">Edit</button>

      <div ng-show="contact.editing" class="editData">


            
          <label for="usr">Name:</label>
          <input type="text" ng-model="editCon.name" class="form-control" id="usr" /><br />

          <label for="usr">Phone:</label> <input type="text" ng-model="editCon.phone" class="form-control" id="usr" /><br />
          <label for="usr">Email:</label> <input type="text" ng-model="editCon.email" class="form-control" id="usr" /><br />
          <label for="usr">Picture:</label> <input type="text" ng-model="editCon.picture" class="form-control" id="usr" /><br />

           <button class="btn btn-success" ng-click="updateContact($index, editCon.name, editCon.phone, editCon.email, editCon.picture); contact.editing;contact.editing=false">Save</button> 
          <button class="btn btn-warning" ng-click="contact.editing=false">Cancel</button>


    


          <!-- Name: <input type="text" ng-model="editCon.name" value="{{contact.name}}" /><br />
          Phone: <input type="text" ng-model="editCon.phone" /><br />
          Email: <input type="text" ng-model="editCon.email" /><br />
          Picture URL: <input type="url" ng-model="editCon.picture" /><br /> -->
         </div>
      </div>
    </div>
    </div>

 
  


  <div class="footer">
  </div>

  </div>
  </div>


  <!-- Modules -->
  <script src="js/app.js"></script>

  <!-- Controllers -->
  <script src="js/controllers/MainController.js"></script>
</body>
</html>
